body{
    font-family: "Schoolbell", cursive;
          background: #fff8f0;

}

h1{
    color: #6b411f;
   font-family: "Schoolbell", cursive;
    text-align: center;
    margin-top: 20px;
}
h2 {
    color: #A2684B;
  font-family: "Schoolbell", cursive;
    text-align: center;
    margin-top: 10px;
}



.invi {
    display: block;
    justify-content: center;
    align-items: center;
    background: #e7d0b1;
    border: 6px solid #C9A78F;
    border-radius: 8px;
    padding: 50px;
    margin-top: 3rem;
    max-width: 60%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}



#p2 {
 
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #b3c6e7;
    margin-bottom: 1rem;
    padding: auto;
}
#p1 {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #b3c6e7;
    margin-bottom: 1rem;
    padding: auto;
}
.pic2 {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
}
.pic1 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}
.chobi {
    display: flex ;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
#ok,
#es{
    display: flex;
    justify-content: center;
    text-align: left;
}

h1{
    font-size: 60px;
    
}
h2{
    font-size: 35px;
}
p{
font-size: 20px;
}
#foot {
    text-align: center;
}


